table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
}

#head1{
    text-align: center;
    border-collapse: collapse;
    color: red;
    border: 2px solid black;
    border-radius:  10px;
    border-left: red;
    border-right: red;
    width: 30%;
    
}

#div1{
    text-align: center;
    border-style:solid;
    width: 10%;
    height: 40px;
}
